use-grammars = { only = [
  "rust",
  "go",
  "python",
  "c",
  "toml",
  "markdown",
  "sql",
] }

[[language]]
name = "rust"
auto-format = true

[language-server.rust-analyzer.config.check]
command = "clippy"

[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }

[[language]]
name = "python"
language-servers = ["ty"]
auto-format = true

[language.formatter]
command = "ruff"
args = ["format", "--line-length", "88", "-"]

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }
auto-format = true

[[language]]
name = "markdown"
language-servers = ["marksman"]
auto-format = true

[[language]]
name = "c"
auto-format = true
