auto_layout true
copy_clipboard "system"
default_layout "compact"
default_shell "fish"
mouse_mode true
on_force_close "quit"
pane_frames false
simplified_ui true
theme "gruvbox-dark"
scrollback_editor "/usr/bin/helix"
